In [17]:
import pandas as pd
import numpy as np

In [18]:
train2016 = pd.read_csv("./train_2016_v2.csv", dtype={'logerror': np.float, 'parcelid': np.int}, parse_dates=['transactiondate'])
print(train2016.dtypes)
train2016.head()

parcelid                    int32
logerror                  float64
transactiondate    datetime64[ns]
dtype: object

   parcelid  logerror transactiondate
0  11016594    0.0276      2016-01-01
1  14366692   -0.1684      2016-01-01
2  12098116   -0.0040      2016-01-01
3  12643413    0.0218      2016-01-02
4  14432541   -0.0050      2016-01-02

In [19]:
properties = pd.read_csv("./properties_2016.csv",
    dtype = {
        'parcelid': np.int,
        'airconditioningtypeid': 'category',
        'architecturalstyletypeid': 'category',
        'basementsqft': np.float64,
        'bathroomcnt': np.float64,
        'bedroomcnt': np.float64,
        'buildingclasstypeid': 'category',
        'buildingqualitytypeid': 'category',
        'calculatedbathnbr': np.float64,
        'decktypeid': 'category',
        'finishedfloor1squarefeet': np.float64,
        'calculatedfinishedsquarefeet': np.float64,
        'finishedsquarefeet12': np.float64,
        'finishedsquarefeet13': np.float64,
        'finishedsquarefeet15': np.float64,
        'finishedsquarefeet50': np.float64,
        'finishedsquarefeet6': np.float64,
        'fips': 'category',
        'fireplacecnt': np.float64,
        'fullbathcnt': np.float64,
        'garagecarcnt': np.float64,
        'garagetotalsqft': np.float64,
        'heatingorsystemtypeid': 'category',
        'latitude': np.float64,
        'longitude': np.float64,
        'lotsizesquarefeet': np.float64,
        'poolcnt': np.float64,
        'poolsizesum': np.float64,
        'propertycountylandusecode': 'category',
        'propertylandusetypeid': 'category',
        'rawcensustractandblock': np.float64,
        'regionidcity': 'category',
        'regionidcounty': 'category',
        'regionidneighborhood': 'category',
        'regionidzip': 'category',
        'roomcnt': np.float64,
        'storytypeid': 'category',
        'threequarterbathnbr': np.float64,
        'typeconstructiontypeid': 'category',
        'unitcnt': np.float64,
        'yardbuildingsqft17': np.float64,
        'yardbuildingsqft26': np.float64,
        'yearbuilt': np.float64,
        'numberofstories': np.float64,

        'structuretaxvaluedollarcnt': np.float64,
        'taxvaluedollarcnt': np.float64,
        'assessmentyear': np.float64,
        'landtaxvaluedollarcnt': np.float64,
        'taxamount': np.float64,
        'taxdelinquencyyear': np.float64,
        'censustractandblock': np.float64
    },
                        converters={
                            'hashottuborspa':(lambda b: b == 'true'),
                            'fireplaceflag': (lambda b: b == 'true'),
                            'pooltypeid2': (lambda b: b == 1),
                                   'pooltypeid7': (lambda b: b == 1),
                               'pooltypeid10': (lambda b: b == 1),
                                   'taxdelinquencyflag':(lambda b: b == 'Y'),
                                   'propertyzoningdesc': lambda b: 'missing' if not isinstance(b, str) else b})
print(properties.dtypes)
properties.head()

parcelid                           int32
airconditioningtypeid           category
architecturalstyletypeid        category
basementsqft                     float64
bathroomcnt                      float64
bedroomcnt                       float64
buildingclasstypeid             category
buildingqualitytypeid           category
calculatedbathnbr                float64
decktypeid                      category
finishedfloor1squarefeet         float64
calculatedfinishedsquarefeet     float64
finishedsquarefeet12             float64
finishedsquarefeet13             float64
finishedsquarefeet15             float64
finishedsquarefeet50             float64
finishedsquarefeet6              float64
fips                            category
fireplacecnt                     float64
fullbathcnt                      float64
garagecarcnt                     float64
garagetotalsqft                  float64
hashottuborspa                      bool
heatingorsystemtypeid           category
latitude                         float64
longitude                        float64
lotsizesquarefeet                float64
poolcnt                          float64
poolsizesum                      float64
pooltypeid10                        bool
pooltypeid2                         bool
pooltypeid7                         bool
propertycountylandusecode       category
propertylandusetypeid           category
propertyzoningdesc                object
rawcensustractandblock           float64
regionidcity                    category
regionidcounty                  category
regionidneighborhood            category
regionidzip                     category
roomcnt                          float64
storytypeid                     category
threequarterbathnbr              float64
typeconstructiontypeid          category
unitcnt                          float64
yardbuildingsqft17               float64
yardbuildingsqft26               float64
yearbuilt                        float64
numberofstories                  float64
fireplaceflag                       bool
structuretaxvaluedollarcnt       float64
taxvaluedollarcnt                float64
assessmentyear                   float64
landtaxvaluedollarcnt            float64
taxamount                        float64
taxdelinquencyflag                  bool
taxdelinquencyyear               float64
censustractandblock              float64
dtype: object

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,False,NaN,9.0,2015.0,9.0,NaN,False,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,False,NaN,27516.0,2015.0,27516.0,NaN,False,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,False,650756.0,1413387.0,2015.0,762631.0,20800.37,False,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3,7,NaN,NaN,...,1.0,False,571346.0,1156834.0,2015.0,585488.0,14557.57,False,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4,NaN,NaN,NaN,...,NaN,False,193796.0,433491.0,2015.0,239695.0,5725.17,False,NaN,NaN

In [20]:
properties.memory_usage().sum()/1024/1024, train2016.memory_usage().sum()/1024/1024

(902.5426225662231, 1.7219352722167969)

In [27]:
properties.to_hdf('store.hdf5', key='properties', format='table', mode='w')
train2016.to_hdf('store.hdf5', key='train2016', format='table', mode='a')